<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811021311640-l8fkdd0k9tq1808233crd5qohskf8nm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811021311640-l8fkdd0k9tq1808233crd5qohskf8nm3</string>
	<key>API_KEY</key>
	<string>AIzaSyD1YB36-_24DUlZ_Y-b2xx40XYR9qTd1Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>811021311640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryBackend</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-387918</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-387918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811021311640:ios:3e90f84823305cbcecbaed</string>
</dict>
</plist>